$palette-blues: #F5FBFF, #E9EEF2, #D0D5D8, #ACAFB2;
$color-blue100: nth($palette-blues, 1);
$color-blue300: nth($palette-blues, 2);
$color-blue500: nth($palette-blues, 3);
$color-blue700: nth($palette-blues, 4);

$palette-greys: #D0D5D8, #ACAFB2, #6E7172;
$color-grey100: nth($palette-greys, 1);
$color-grey300: nth($palette-greys, 2);
$color-grey500: nth($palette-greys, 3);

$color-green100: #9BB9A3;

$color-brown100: #4B413D;