.main-header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  .main-header--wrapper {
    .main-header--logo, h1 {
      float: left;
    }
    .main-header--logo {
      max-width: 100px;
      padding-left: 0;
    }
    h1 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      span {
        font-weight: 400;
      }
      @media (max-width: 320px) {
        font-size: 2.4em;
      }
    }
  }
  .main-header-contact--wrapper {
    text-align: right;
    p {
      font-weight: 700;
      color: #337ab7;
      a {
        font-weight: 300;
      }
    }
    @media (max-width: 450px) {
      padding-top: 25px;
      text-align: left;
    }
  }
}
